services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    labels:
      homepage.group: "Management"
      homepage.name: "Portainer"
      homepage.icon: "portainer.png"
      homepage.href: "https://portainer:9443"
      homepage.description: "Container Management"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9443:9443
      - 8000:8000  # Remove if you do not intend to use Edge Agents

volumes:
  portainer_data:
    name: portainer_data

networks:
  default:
    name: kendricklab 
