services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    restart: unless-stopped
    container_name: speedtest-tracker
    environment:
        - PUID=1000
        - PGID=1000
        - APP_KEY=${APP_KEY}
        - DB_CONNECTION=sqlite
    volumes:
        - ${CONFIG_ROOT}/speedtest-tracker:/config
    networks:
      - traefik_public

networks:
  traefik_public:
    external: true
