services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    restart: unless-stopped
    container_name: speedtest-tracker
    environment:
        - PUID=1000
        - PGID=1000
        - APP_KEY=${APP_KEY}
        - DB_CONNECTION=sqlite
    volumes:
        - ${CONFIG_ROOT}/speedtest-tracker:/config
    networks:
      - traefik_public
    labels:
      homepage.group: "Monitoring"
      homepage.name: "Speedtest Tracker"
      homepage.icon: "sh-speedtest-tracker.png"
      homepage.href: "https://speedtest.${DOMAIN}"
      homepage.description: "Internet speed tracking"
      traefik.enable: "true"
      traefik.http.routers.speedtest-tracker.rule: "Host(`speedtest.${DOMAIN}`)"
      traefik.http.routers.speedtest-tracker.entrypoints: "https"
      traefik.http.routers.speedtest-tracker.tls.certresolver: "cloudflare"
      traefik.http.routers.speedtest-tracker.service: "speedtest-tracker"
      traefik.http.services.speedtest-tracker.loadbalancer.server.port: "8080"
    expose:
      - "8080"

networks:
  traefik_public:
    external: true
