version: "3.8"

services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${DOCKER_PATH}/jellyfin/config:/config
      - ${MEDIA_PATH}:/media
    expose:
      - 8096
    restart: unless-stopped
    labels:
      # Traefik
      traefik.enable: "true"
      traefik.http.routers.jellyfin.rule: "Host(`jellyfin.${DOMAIN}`)"
      traefik.http.routers.jellyfin.entrypoints: "https"
      traefik.http.routers.jellyfin.service: "jellyfin"
      traefik.http.routers.jellyfin.tls.certresolver: "cloudflare"
      traefik.http.services.jellyfin.loadbalancer.server.port: "8096"
      # Homepage
      homepage.group: "Media"
      homepage.name: "Jellyfin"
      homepage.icon: "jellyfin.svg"
      homepage.href: "https://jellyfin.${DOMAIN}"
      homepage.description: "Media Server"
    networks:
      - traefik_public
  jellyseerr:
    image: fallenbagel/jellyseerr
    container_name: jellyseerr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${DOCKER_PATH}/jellyseerr/config:/config
    expose:
      - 5055
    restart: unless-stopped
    labels:
      # Traefik
      traefik.enable: "true"
      traefik.http.routers.jellyseerr.rule: "Host(`jellyseerr.${DOMAIN}`)"
      traefik.http.routers.jellyseerr.entrypoints: "https"
      traefik.http.routers.jellyseerr.service: "jellyseerr"
      traefik.http.routers.jellyseerr.tls.certresolver: "cloudflare"
      traefik.http.services.jellyseerr.loadbalancer.server.port: "5055"
      # Homepage
      homepage.group: "Media"
      homepage.name: "Jellyseerr"
      homepage.icon: "jellyseerr.svg"
      homepage.href: "https://jellyseerr.${DOMAIN}"
      homepage.description: "Request management"
    networks:
      - traefik_public

networks:
  traefik_public:
    external: true
