services:
  zerobyte:
    labels:
      homepage.group: "Backup"
      homepage.name: "Zerobyte"
      homepage.icon: "zerobyte.png"
      homepage.href: "https://zerobyte.${DOMAIN}"
      homepage.description: "Self-hosted backup solution"
      traefik.enable: "true"
      traefik.http.routers.adguard.rule: "Host(`zerobyte.${DOMAIN}`)"
      traefik.http.routers.adguard.entrypoints: "https"
      traefik.http.routers.adguard.tls.certresolver: "cloudflare"
      traefik.http.services.adguard.loadbalancer.server.url: "http://${HOST_IP}:4096"
    image: ghcr.io/nicotsx/zerobyte:v0.19
    container_name: zerobyte
    restart: unless-stopped
    cap_add:
      - SYS_ADMIN
    ports:
      - "4096:4096"
    devices:
      - /dev/fuse:/dev/fuse
    environment:
      - TZ=Europe/London
    volumes:
      - ${CONFIG_ROOT}/:/container_data
      - /etc/localtime:/etc/localtime:ro
      - /var/lib/zerobyte:/var/lib/zerobyte
      - ~/.config/rclone:/root/.config/rclone
