services:
  zerobyte:
    labels:
      homepage.group: "Backup"
      homepage.name: "Zerobyte"
      homepage.icon: "sh-zerobyte.png"
      homepage.href: "https://zerobyte.${DOMAIN}"
      homepage.description: "Self-hosted backup solution"
      traefik.enable: "true"
      traefik.http.routers.zerobyte.rule: "Host(`zerobyte.${DOMAIN}`)"
      traefik.http.routers.zerobyte.entrypoints: "https"
      traefik.http.routers.zerobyte.tls.certresolver: "cloudflare"
      traefik.http.routers.zerobyte.service: "zerobyte"
      traefik.http.services.zerobyte.loadbalancer.server.port: "4096"
    image: ghcr.io/nicotsx/zerobyte:v0.19
    container_name: zerobyte
    restart: unless-stopped
    cap_add:
      - SYS_ADMIN
    expose:
      - "4096"
    devices:
      - /dev/fuse:/dev/fuse
    environment:
      - TZ=Europe/London
    volumes:
      - ${CONFIG_ROOT}/:/container_data
      - /etc/localtime:/etc/localtime:ro
      - /var/lib/zerobyte:/var/lib/zerobyte
      - /home/naivegarmur/.config/rclone:/root/.config/rclone
    networks:
      - traefik_public

networks:
  traefik_public:
    external: true
