services:
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:2
    restart: unless-stopped
    volumes:
      - ${CONFIG_ROOT}/uptime-kuma:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      homepage.group: "Monitoring"
      homepage.name: "Uptime Kuma"
      homepage.icon: "uptime-kuma.png"
      homepage.href: "https://status.${DOMAIN}/status/homelab"
      homepage.description: "Uptime Monitoring"
      homepage.widget.type: "uptimekuma"
      homepage.widget.url: "https://status.kendricklab.uk/"
      homepage.widget.slug: "homelab"
      traefik.enable: "true"
      traefik.http.routers.uptime-kuma.rule: "Host(`status.${DOMAIN}`)"
      traefik.http.routers.uptime-kuma.entrypoints: "https"
      traefik.http.routers.uptime-kuma.tls.certresolver: "cloudflare"
      traefik.http.routers.uptime-kuma.service: "uptime-kuma"
      traefik.http.services.uptime-kuma.loadbalancer.server.port: "3001"
    expose:
      # <Host Port>:<Container Port>
      - "3001"
    networks:
      - traefik_public

networks:
  traefik_public:
    external: true
