services:
  core-keeper:
    image: escaping/core-keeper-dedicated:latest
    container_name: core-keeper-dedicated
    restart: unless-stopped
    labels:
      homepage.group: "Games"
      homepage.name: "Core Keeper"
      homepage.icon: "https://cdn2.steamgriddb.com/icon/f21e81ff7fd73e8ed6cc5240d53263be.ico"
      homepage.description: "Game Server"
    stop_grace_period: 2m
    # Port is only needed if using direct connection mode
    # ports:
    #   - "$SERVER_PORT:$SERVER_PORT/udp"
    volumes:
      - ${CONFIG_ROOT}/core-keeper/server-files:/home/steam/core-keeper-dedicated
      - ${CONFIG_ROOT}/core-keeper/server-data:/home/steam/core-keeper-data
    environment:
      - DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1449377878192947241/_fBMK0aw42CB4WCae-xJZSI887APRjOGCB1XwYK9gDEMPVdHeqH2OncvCNg9q1VNxDVn
    networks:
      - traefik_public

networks:
  traefik_public:
    external: true
